<ion-header>
  <ion-toolbar>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Correo</ion-label>
          <ion-input type="email" maxlength="40" minlength="3" [(ngModel)]="user.name" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button (click)="obtenerCodigo()" expand="block" shape="round" color="success">
      Recuperar
    </ion-button>
    <ion-button (click)="limpiarCampos()" expand="block" shape="round" color="secondary">
      Limpiar
    </ion-button>
    <ion-button [routerLink]="['/login']" expand="block" fill="clear" shape="round">
      Volver
    </ion-button>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    
  </ion-toolbar>
</ion-footer>
