<ion-header>
  <ion-toolbar>
    <ion-title>Recupera tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label>
    <p>Ingresa el código</p>
    <h2>Se ha enviado un código a tu correo</h2>
  </ion-label>
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Código</ion-label>
          <ion-input maxlength="6" minlength="6" [(ngModel)]="codigo" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button (click)="confirmarCodigo()" expand="block" shape="round" color="success">
      Recuperar
    </ion-button>
    <ion-button [routerLink]="['/login']" expand="block" fill="clear" shape="round">
      Volver
    </ion-button>
</ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>
