<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid >
    <ion-row class="ion-align-items-center">
      <ion-col >
       <h1 class="ion-text-center">BIENVENIDO!</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row class="ion-margin-top">
      <ion-col>
        <ion-item>
          <ion-label position="floating" >Usuario</ion-label>
          <ion-input maxlength="8" minlength="3" [(ngModel)]="user.name" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" maxlength="4" minlength="4" inputmode="numeric" required
          [(ngModel)]="user.password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button class="ion-margin-top" expand="block" color="success" (click)="goToHome()">ingresar</ion-button>
    <ion-button  routerLink="/pswd-recovery" expand="full" size="small" fill="clear" shape="round" color="warning" class="ion-margin-top">
      recuperar contraseña
    </ion-button>
    
  
  </ion-grid>
</ion-content>
