<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <h1 class="ion-text-center ion-margin-top">Bienvenido!</h1>
  <ion-text color="primary" class="ion-text-capitalize ion-text-center">
    <h3>{{user.name}}</h3>
  </ion-text>


<ion-button routerLink="/login" expand="block" fill="clear" shape="round" color="danger" class="ion-justify-content-end">
  cerrar sesión
</ion-button>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <app-footer></app-footer>
  </ion-toolbar>
</ion-footer>
